<%= javascript_pack_tag 'email_form' %>

<div id="app">
  <label>To: </label>
  <input type="text" v-model="to"/>

  <label>Subject: </label>
  <input type="text" v-model="subject"/>

  <label>Body: </label>
  <textarea v-model="body"></textarea>

  <br>
  <br>
  <button @click="sendEmail">Send</button>
</div>